@{
    ViewBag.Title = "A Little About Sarah";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Sarah Sanford is currently a senior at Ohio University in the College of Business. Sarah is majoring in marketing and management information systems. She is from Cleveland, Ohio and comes from a family of six. Sarah has two dogs and loves spending summers on her family's boat on Lake Erie .</p>
