@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    7250 Bridlewood Drive<br />
    Concord, Ohio 44077<br />
    <abbr title="Phone">Phone:</abbr>
    440.289.8134
</address>

<address>
    <strong>School Email:</strong>   <a href="ss986316@ohio.edu">ss986316@ohio.edu</a><br />
    <strong>Work Email:</strong> <a href="ssanford440@gmail.com">ssanford440@gmail.com</a>
</address>