@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sarah E. Sanford</h1>
    <p class="lead">This application is all about Sarah E. Sanford and her current status as a student at Ohio University .</p>
    <p><a href="https://www.actionforhappiness.org/" class="btn btn-primary btn-lg">Click This! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ohio University</h2>
        <p>
            See what Ohio University is like and has to offer!
        </p>
        <p><a class="btn btn-default" href="https://www.ohio.edu/">Explore &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pi Sigma Epsilon</h2>
        <p>Learn more about the business organization Sarah is currently in!.</p>
        <p><a class="btn btn-default" href="http://www.ohio.pse.org/">Explore &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>MVC Homework Links</h2>
        <p>
            Here are the links! <br /><li>@Html.ActionLink("Owner", "Index", "Owners")</li>
            <li>@Html.ActionLink("Pet", "Index", "Pets")</li>
            <li>@Html.ActionLink("Appointment", "Index", "Appointments")</li>
        </p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/sarah-sanford-2021/">Explore &raquo;</a></p>
    </div>
</div>